* {box-sizing: border-box;}

body {
    background-color: #ffffff;
    font-family: 'Avenir', 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #151515;
}

h1, h2, h3, h4, p {line-height: 1.4;}
h1 {
    font-size: 2em;
    font-weight: 700;
} 
h2 {
    font-size: 1.75em;
    font-weight: 400;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
}
h4 {
    font-size: 1.25em;
    font-weight: 400;
}
p {
    font-size: 1.1em;
    letter-spacing: 0.1px;
}

img {width: 100%;}

a {
    color: #004284;
    text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
    color: #484896;
}
a:hover, a:focus {
    color: #000080;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
    color: #D15B30;
}
.button, .button:visited {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #004284;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #777777;
    transition: 0.2s opacity;
}
.button:hover, .button:focus {
    opacity: 0.75;
    text-decoration: none;
}
.button:active {
    opacity: 1;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #125190;
    padding: 6px 12px;
    text-transform: uppercase;
    border: 2px solid #125190;
}
.button.contact:hover {
    background-color: #125190;
    color: #ffffff;
    transition: none;
}
#work img, #aboutpage main img {max-width: 500px;}
#work, #aboutpage main, #projectpage1 main, #projectpage2 main {padding-bottom: 40px;}
#projectpage1 main img, #projectpage2 main img {
    max-width: 800px;
    margin: 0 auto;
}
#contact {
    background-color: #eaebec;
    display: inline-block;
    width: 100%;
}


/* Layout styling */

header {
    position: fixed;
    width: 100%;
    background-color: #eaebec;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.8);
}
.container {padding: 0 15px;}
.column2 {margin-bottom: 25px;}
#hero {
    background-color: #eaebec;
    text-align: center;
    padding-top: 190px;
    display: inline-block;
    width: 100%;
}
#aboutpage > main, #projectpage1 > main, #projectpage2 > main {
    padding-top: 200px;
    display: inline-block;
}
.logo {max-width: 150px;}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
    padding-top: 0px;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #4a4a4a;  
}