* {box-sizing: border-box;}

body {
    background-color: #ffffff;
    font-family: 'Lato', 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #151515;
}

h1, h2, h3, h4, p {line-height: 1.4;}
h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
} 
h2 {
    font-size: 1.75em;
    font-weight: 400;
    text-align: center;
}
h2 span {font-size: 0.85em;}
h3 {
    font-size: 1.5em;
    font-weight: 700;
}
h4 {
    font-size: 1.25em;
    font-weight: 400;
}
p {
    font-size: 1.1em;
    letter-spacing: 0.1px;
}

a {
    color: #004284;
    text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
    color: #484896;
}
a:hover, a:focus {
    color: #000080;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
    color: #B04C27;
}
.button, .indexbutton, .button:visited, .indexbutton:visited {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #004284;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid #777777;
    transition: 0.2s opacity;
}
.button:hover, .button:focus, .indexbutton:hover, .indexbutton:focus {
    opacity: 0.75;
    text-decoration: none;
}
.button:active, .indexbutton:active {
    opacity: 1;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #125190;
    padding: 6px 12px;
    text-transform: uppercase;
    border: 2px solid #125190;
}
.button.contact:hover {
    background-color: #125190;
    color: #ffffff;
    transition: none;
}
.indexbutton {
    display: block;
    width: 60%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

#work img, #aboutpage main img {max-width: 95%;}
#work, #aboutpage main, #projectpage1 main, #projectpage2 main {padding-bottom: 40px;}
#projectpage1 main img, #projectpage2 main img {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#contact {
    background-color: #eaebec;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 3px solid #777777;
}
.mystory span {
    display: block;
    text-align: center;
    padding-top: 10px;
}
.skillstools {margin-top: 60px;}
.skillstools li {margin-left: -30px;}
.skillstools2 {padding-bottom: 0px;}

.row {margin-bottom: 50px;}
.row img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.projectinfo {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.projectinfo h3 {
    margin-top: 20px;
    margin-bottom: -15px;
}

/* Layout styling */

header {
    position: fixed;
    width: 100%;
    background-color: #eaebec;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.8);
}
#hero {
    background-color: #eaebec;
    text-align: center;
    padding-top: 100px;
    display: inline-block;
    width: 100%;
}
#hero h2 span {font-weight: 200;}
#aboutpage > main, #projectpage1 > main, #projectpage2 > main {
    padding-top: 100px;
    display: block;
}
.logo {
    width: 100%;
    max-width: 100px;
}
#indexpage .logo {
    width: 100%;
    max-width: 250px;
    margin: -50px 0 30px;
}
#indexpage ul {padding: 0;}
#indexpage ul li {
    list-style-type: none;
    margin-top: 35px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #4a4a4a;
}
.navtoggle li:not(:last-child) {display: none;}
.navtoggle, .navtoggle.responsive {position: relative;}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}
.navtoggle.responsive {margin-bottom: -15px;}
.navtoggle.responsive li {
    display: block;
    padding: 8px;
}
.navtoggle i {padding-top: 18px;}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
picture {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
picture img {
    width: 80%;
    display: block;
}
#workpage svg {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
}
#mypicture {
    width: 60%;
    margin: 0 auto;
}

.goldengate {
    width: 77%;
    max-width: 100%;
    height: auto;
}
@keyframes color-change {
    0% {fill: #B4E3F6;}
    10% {fill: #B4E3F6;}
    30% {fill: #F0C488;}
    40% {fill: #CB964E;}
    60% {fill: #000580;}
    70% {fill: #000580;}
    100% {fill: #B4E3F6;}
}
#Rectangle_158 {animation: 10s color-change infinite linear;}
@keyframes sun {
    from {transform: translate(500px,-1000px);}
    to {transform: translate(500px,3000px);}
}
@keyframes moon {
    from {transform: translate(450px,-2800px);}
    to {transform: translate(450px,1200px);}
}
#Ellipse_130 {animation: 10s sun infinite linear;}
#Subtraction_1 {animation: 10s moon infinite linear;}

@keyframes fade-in-1 {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes fade-in-2 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes fade-in-3 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}
@keyframes fade-in-4 {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 0;}
    80% {opacity: 1;}
    100% {opacity: 1;}
}
#fade1 {animation: 0.75s fade-in-1 1 ease-out;}
#fade2 {animation: 0.75s fade-in-2 1 ease-out;}
#fade3 {animation: 0.75s fade-in-3 1 ease-out;}
#fade4 {animation: 0.75s fade-in-4 1 ease-out;}



/* MEDIA QUERIES */

@media only screen and (min-width: 640px) {
    body {font-size: 18px;}
    header {
        text-align: unset;
        padding: 7px 0 2px;
    }
    nav {
        width: auto;
        float: right;
        margin-top: -3px;
        padding-right: 25px;
    }
    nav > ul > li {
        display: inline-block;
        padding-top: 0px;
    }
    .navtoggle li:not(:last-child) {display: inline-block;}
    .navtoggle li:last-child {display: none;}
    .navtoggle.responsive {margin: 0;}
    .navtoggle.responsive li {padding: 0;}

    #hero {padding-top: 80px;}
    .col-md-6 {width: 50%;}
    .col-md-12 {width: 100%;}
    [class*="col-"] {float: left;}
    .row {margin-bottom: 30px;}
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    .row1, .row2 {
        padding-bottom: 22px;
        border-bottom: 2px solid #151515;
    }
    #work img {padding-right: 20px;}
    h3 {margin-top: 0;}
    #aboutpage h4 {margin-bottom: -5px;}
    .skillstools {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .col-lg-7 {width: 60%;}
    .col-lg-5 {width: 40%;}
    .col-lg-4 {width: 30%;}
    #mypicture {width: 40%;}
    .mystory h2, .mystory span {text-align: left;}
    .skillstools {margin: 0 0 40px 100px;}
    .skillstools h2 {
        text-align: left;
        margin-bottom: 0px;
    }
    #aboutpage .col-md-6 {width: 100%;}
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1920px) {
}